.hero{
    background:linear-gradient(#0000009c, #000000), url(https://img.freepik.com/premium-photo/man-office-night-with-finger-by-hologram-overlay-web-design-innovation-3d-ux-typing-programming-expert-holographic-ui-website-with-smile-cloud-computing-analysis-coding_590464-150054.jpg?semt=ais_hybrid) no-repeat center;
    background-size: cover;
}

.hero img{
    border-radius: 20px;
    min-height: 400px;
    padding: 5px;
    object-fit: cover;
    object-position: right;
}